.poll-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.poll-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.poll-card:hover{
transform:translateY(-5px);
}

button{
cursor:pointer;
pointer-events:auto;
margin:3px
}

.vote-btn{
background:#1976d2;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.vote-btn:hover{
background:#125aa0;
}

/* MODAL */

.modal-backdrop{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.vote-modal{
background:white;
padding:25px;
border-radius:12px;
width:400px;
max-width:90%;
animation:fadeIn 0.3s ease;
}

.option{
margin:10px 0;
}

.modal-buttons{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.submit-btn{
background:#2e7d32;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

.cancel-btn{
background:#d32f2f;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
cursor:pointer;
}

@keyframes fadeIn{
from{
opacity:0;
transform:scale(0.9);
}
to{
opacity:1;
transform:scale(1);
}
}