<div class="login-wrapper">
  <div class="login-card">
    <h2 class="title">Smart Ward Management System</h2>
    <p class="subtitle">Digital Governance for Local Bodies</p>

    <!-- CITIZEN FORM -->
    <form class="form" [formGroup]="loginForm"  (ngSubmit)="onLogin()">
      <input type="text" formControlName="Username" placeholder="Enter Username" />
      <input type="password" formControlName="Password" placeholder="Password" />
      <button class="btn">Login</button>
      <p>Don't have an account? <a href="/registerUser">Sign Up</a></p>
    </form>
  </div>
</div>
